{% extends 'base.html.twig' %}

{% block title %}Hello PostController!{% endblock %}

{% block body %}


    <h1>a post</h1>

        <p><strong>{{ post.title}}</strong></p>
        <p>{{ post.content}}</p>



{% endblock %}
